# My first NLP/ML Project from Kaggle
This is a follow along tutorial
# NLP Disaster Tweet project
https://www.kaggle.com/code/philculliton/nlp-getting-started-tutorial/notebook

## Set up

In [1]:
import pandas as pd # data processing
import numpy as np # for linear algebra
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [2]:
# Set no max rows and columns to view data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

### Import data

In [3]:
sample = pd.read_csv('C:/Users/chris/Desktop/GitHub/Kaggle_Data/sample_submission.csv')

In [4]:
test = pd.read_csv('C:/Users/chris/Desktop/GitHub/Kaggle_Data/test.csv')

In [5]:
train = pd.read_csv('C:/Users/chris/Desktop/GitHub/Kaggle_Data/train.csv')

In [6]:
sample.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [7]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [8]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [19]:
# Look at tweets with target = 1 which indicates a disaster text
train[train['target'] == 1]['text'].values[0:5]

array(['Our Deeds are the Reason of this #earthquake May ALLAH Forgive us all',
       'Forest fire near La Ronge Sask. Canada',
       "All residents asked to 'shelter in place' are being notified by officers. No other evacuation or shelter in place orders are expected",
       '13,000 people receive #wildfires evacuation orders in California ',
       'Just got sent this photo from Ruby #Alaska as smoke from #wildfires pours into a school '],
      dtype=object)

In [25]:
# Look at tweets with target = 0 which represents non disaster tweets
train[train['target'] == 0]['text'].values[3]

'My car is so fast'

### Now build the vector using CountVectorizer()
The CountVectorizer is a text feature extraction method that converts a collection of text documents into a matrix of token counts. It works by first tokenizing the text into individual words or n-grams, and then counting the frequency of each word or n-gram in each document.

CountVectorizer ignores words that occur in more than 50% of the documents. 

-ChatGPT

In [26]:
# Initialize the CountVertorizer
count_vectorizer = feature_extraction.text.CountVectorizer()

In [32]:
# Get the counts from the tweets
train_vector = count_vectorizer.fit_transform(train['text'])

# The fit_transform method is used to both fit the CountVectorizer to 
# the data and transform the data into a matrix of token counts in 
# a single step.

In [38]:
# print the vector using todense()
print(train_vector[0].todense().shape)

# todense() converts the sparse matrix to a dense matrix saving only
# the non-zero values
# .shape shows the shape of the data. 1 row and 21637 columns
# this shows there are 21637 unique words in the train_vector

(1, 21637)

In [39]:
# print the train_vector matrix for only the first tweet
print(train_vector[0].todense())

[[0 0 0 ... 0 0 0]]

In [40]:
# Create vector for test
test_vector = count_vectorizer.transform(test['text'])

# Build the model

In [41]:
# The model perscribed for this tutorial is a linear model to 
# use the words in a tweet to indicate if the tweet is about a disaster

clf = linear_model.RidgeClassifier()

In [45]:
# Testing the model using cross validation

score = model_selection.cross_val_score(clf, 
    train_vector, train['target'], cv=3, scoring="f1")
# model_selection is an scikit-learn library for model selection
# cross_val_score() performs k-fold cross validation by dividing the dataset
# into "folds" and in each iteration one fold is tested and another trained
# cv=3 sets the parameter to 3 folds
# f1 is the scoring method 0 = bad 1 = best
# clf is the model
# train_vector is the training data
# train['target'] is the variable the model is being applied to to predict


score

array([0.59453669, 0.5642787 , 0.64082434])

In [50]:
# Train the model to associate the 'target' with the language of the text
# in the form of the vector

clf.fit(train_vector, train["target"])

RidgeClassifier()

In [51]:
# Go back up to see where the test_vector was made. 
# Now run the model on test vector the object will be the 
# 'target' variable in sample

sample['target'] = clf.predict(test_vector)

In [52]:
sample.head()

   id  target
0   0       0
1   2       1
2   3       1
3   9       0
4  11       1